.news_item-wrapper
  .w: .c.c12
    .news_item-slider
      for i in [1,2,3,4,5,6]
        div: img(data-lazy='https://source.unsplash.com/random/653x423?' + i width=653 height=423)
    h1 Квартира на Саперном продается за 5 млн. руб
    p Строительная компания Bonava является одним из отделений корпорации NCC. Опыт работы с застройщиком в Северной Европе полностью воспринят и реализован на рынке недвижимости Санкт-Петербурга. В портфолио строительной компании есть объекты недвижимости, реализованные в Красногвардейском, Всеволожском, Петроградском районах Питера.
    p К знаковым жилым комплексам от строительной компании Bonava можно отнести Comedy Club, Эланд, Шведская корона.
    p Жилой комплекс Meltzer House Петроградского района среди всех объектов застройщика занимает особое место. Прежде всего, он характеризуется отличной транспортной составляющей, поскольку находится в 5 минутах пешего хода от станции метро.
    p Кроме того, ЖК имеет очень удачно локацию: набережная реки Карповки. Все объекты этой ухоженной и уютной набережной доступны жильцам жилого комплекса. Новостройка будет сдаваться в 2019 году, однако сейчас работы на объекте идут полным ходом.
    p Ход строительства в элитном жилом комплексе Meltzer House от компании Bonava можно проследить на официальном сайте застройщика. Жилой корпус имеет 8 этажей, квартир в нем мало. На рынок будет выведено всего 165 предложений. В настоящее время ни один банк не объявил новостройку объектом аккредитации.
    p Все квартиры здесь будут реализоваться по формуле Федерального закона 214. Новостройка сопровождается устройством паркинга, который будет иметь два уровня. Автопарковка, согласно проектной документации, рассчитана на 204 машино-места, она будет находиться в подземном уровне. Паркинг оснастят системами дымоулавливания и пожаротушения, согласно обещаниям застройщика.
