include ../button/button

.catalog-wrapper
  .w
    .c.c12: h1.catalog-title Элитная недвижимость
    .catalog-items
      for i in [1,2,3]
        .c.c12: .catalog-item: .wf
          .c.c6
            a(href='#'): img.catalog-image(src='https://source.unsplash.com/random/525x341?' + i width=525 height=341)
          .c.c6
            a.catalog-name(href='#') Трехкомнатная квартира в ЖК "Легенда"
            .catalog-option.catalog-price 5 600 000 руб.
            .catalog-option.catalog-space 89 м2
            .catalog-option.catalog-place Санкт-Петербург, ул. Яхтенная
            .catalog-option.catalog-phone 8(812)999-00-00
            a.catalog-more(href='#') подробнее
    .c.c12: .catalog-show: +button(class='catalog-button') Показать еще
    .c.c12
      .catalog-bullshit
        p В  нашем агентстве недвижимости представлены элитные квартиры Санкт-Петербурга в обжитых жилых комплексах города. Мы продаем жилье в Петроградском, Центральном, Адмиралтейском районах.
        p База агентства постоянно дополняется. Посмотрите наш интернет-каталог, возможно, жилье вашей мечты уже ждет вас.
        p На сегодняшний день открыты продажи нескольких элитных квартир в СПб. Это двухкомнатная квартира на улице Радищева, огромные шестикомнатные апартаменты в Центральном районе, четырехкомнатное жилье, площадью 167м2 на Крестовском острове и другие.
        p Вся элитная недвижимость, представленная на сайте агентства, подробно описана. Покупатели могут посмотреть и благоустройство дома, и оценить все преимущества квартиры.
        p За дополнительной информацией обращайтесь к нашим специалистам по телефону: 8 (812) 426-15-34