.top
  .w
    for i in [1,2,3,4]
      .c.c6
        .top-item
          .top-image
            a(href='#'): img(src='https://source.unsplash.com/random/293x173?' + i width=293 height=173)
          .top-content
            .top-title Мурино
            .top-subtitle Чудесное место для жизни
            .top-text #[b от 500 тыс. руб.] за кв. метр
            a.top-link(href='#') Подробнее