.w
  .pagination-wrapper
    a.pagination-prev(href='#')
      .pagination-arrow Предыдущая#[br]новость
      .pagination-post
        img(src='https://source.unsplash.com/random/262x189?1' width=262 height=189)
        .pagination-name Элитная квартира в жилом комплексе Четыре горизонта продается по переуступке
    a.pagination-next(href='#')
      .pagination-post
        img(src='https://source.unsplash.com/random/262x189?2' width=262 height=189)
        .pagination-name Элитная квартира в жилом комплексе Четыре горизонта продается по переуступке
      .pagination-arrow Следующая#[br]новость

    a.pagination-list(href='#'): span Вернуться назад к списку новостей