include ../select/select
include ../button/button

form.filters-wrapper
  .w
    .c.c4
      +select()
        option Все объекты
        option Элитные
        option Не очень
    .c.c4
      +select()
        option Все объекты
        option Элитные
        option Не очень
    .c.c4
      +select()
        option Все объекты
        option Элитные
        option Не очень
    .c.c12
      .filters-submit
        +button() Показать (59)