extends ../../modules/layout/layout

block body
  include ../../modules/header/header
  include ../../modules/categories/categories
  include ../../modules/buttons/buttons
  include ../../modules/top/top
  include ../../modules/seo/seo
  include ../../modules/banner/banner
  include ../../modules/news_slider/news_slider
  include ../../modules/footer/footer
  //include ../../modules/slider/slider
  //include ../../modules/form/form
  //include ../../modules/sprites/sprites