.w: .c.c12
  .breadcrumbs-wrapper(typeof="BreadcrumbList" vocab="http://schema.org/")
    span(property="itemListElement" typeof="ListItem")
      a(property="item" typeof="WebPage" title="Go to LeDune." href="http://duneprestige.com" class="home")
        span(property="name") Главная
        meta(property="position" content="1")
    |&gt;
    span(property="itemListElement" typeof="ListItem")
      span(property="name") Недвижимость|в Санкт-Петербурге
      meta(property="position" content="2")