doctype html
html
  head
    title Hello
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //link(rel="shortcut icon" href="/favicon.ico")
    link(href="https://fonts.googleapis.com/css?family=Alice|Ubuntu:300,400&amp;subset=cyrillic" rel="stylesheet")

    :styles

  body
    include ../../modules/header/header
    include ../../modules/categories/categories
    include ../../modules/buttons/buttons
    block body
    //include ../photoswipe/photoswipe
    include ../../modules/footer/footer


  :scripts
    :hotreload