.categories-wrapper
  .w
    .categories-items
      .categories-item
        a.categories-link(href='#')
          .categories-icon: .categories-icon-1
          .categories-text ЖК «Le Dune»#[br]Италия
      .categories-item
        a.categories-link(href='#')
          .categories-icon: .categories-icon-2
          .categories-text Недвижимость#[br]в Санкт-Петербурге
      .categories-item
        a.categories-link(href='#')
          .categories-icon: .categories-icon-3
          .categories-text Аренда#[br]Недвижимости в Италии
      .categories-item
        a.categories-link(href='#')
          .categories-icon: .categories-icon-4
          .categories-text Недвижимость#[br]в Дубае
      .categories-item
        a.categories-link(href='#')
          .categories-icon: .categories-icon-5
          .categories-text Другие#[br]объекты
