.categories-wrapper
  .w
    .categories-items
      .categories-item
        a.categories-link(href='#')
          .categories-icon: img(src='modules/categories/category-1.svg')
          .categories-text ЖК «Le Dune»#[br]Италия
      .categories-item
        a.categories-link(href='#')
          .categories-icon: img(src='modules/categories/category-2.svg')
          .categories-text Недвижимость#[br]в Санкт-Петербурге
      .categories-item
        a.categories-link(href='#')
          .categories-icon: img(src='modules/categories/category-3.svg')
          .categories-text Аренда#[br]Недвижимости в Италии
      .categories-item
        a.categories-link(href='#')
          .categories-icon: img(src='modules/categories/category-4.svg')
          .categories-text Недвижимость#[br]в Дубае
      .categories-item
        a.categories-link(href='#')
          .categories-icon: img(src='modules/categories/category-5.svg')
          .categories-text Другие#[br]объекты
