.wrapper
  margin: 3em 0
  color: $black
  line-height: 1.8
  img
    display: block
    height: auto

    @media (max-width: $breakpoint-sm - 1)
      margin: .5em auto

.quote
  border-left: 1px solid $gold
  padding-left: 1.5em
  margin-left: 1em
  margin-top: 2em

.text
  p
    margin: 0 0 1.5em