.seo-wrapper
  .w
    .c.c6
      .wf
        .c.c4: img(src='https://source.unsplash.com/random/300x220?1' width=300 height=300)
        .c.c4: img(src='https://source.unsplash.com/random/300x220?2' width=300 height=300)
        .c.c4: img(src='https://source.unsplash.com/random/300x220?3' width=300 height=300)
      .seo-quote Достоверная и объективная информация обо всех объектах элитной недвижимости Санкт-Петербурга, ежедневные обновления и эксклюзивная аналитика от экспертов;
    .c.c6
      .seo-text
        p Достоверная и объективная информация обо всех объектах элитной недвижимости Санкт-Петербурга, ежедневные обновления и эксклюзивная аналитика от экспертов;
        p Сегменты «бизнес» и «элит»: новые современные жилые комплексы и антикварный старый фонд;
        p Престижные локации: исторический центр, районы новой застройки, живописные курортные пригороды;
        p Различные форматы жилья: от частных особняков до высотных апартаментов.