.object-wrapper
  .w
    .c.c7
      .object-slider
        for i in [1,2,3,4,5,6,7,8]
          .object-image: img(data-lazy='https://source.unsplash.com/random/653x423?' + i width=653 height=423)
      .object-thumbs
        for i in [1,2,3,4,5,6,7,8]
          .object-thumb: img(data-lazy='https://source.unsplash.com/random/100x100?' + i width=100 height=100)
    .c.c5
      .object-name Трехкомнатная квартира в ЖК "Легенда"
      .object-option.catalog-price 5 600 000 руб.
      .object-option.catalog-space 89 м2
      .object-option.catalog-place Санкт-Петербург, ул. Яхтенная
      .object-text
        p Квартира расположена на 2 этаже 5-этажного дома. Общая площадь квартиры 99,5 кв.м., жилая площадь 18.4 кв.м. Квартира обладает всеми необходимыми параметрами, чтобы считаться элитной: нормальная парковка, отличный прямой вид на Манежную площадь из окон кухни-гостиной. Окна спальни выходят в тихий двор. В планировке максимально эффективно используется пространство.
      a.object-more_button(href='#') Подробные характеристики
      .object-more