.news_slider-wrapper
  .w
    .c.c12
      .news_slider-title Новости
    for i in [1,2,3,4]
      .c.c3
        a.news_slider-item(href='#')
          img(src='https://source.unsplash.com/random/262x189?' + i width=262 height=189)
          .news_slider-date 22 марта 2017 года
          .news_slider-text Элитная квартира в жилом комплексе Четыре горизонта продается по переуступке