header
  .w.wc
    .c.header-logo
      img.header-img(src='modules/header/logo.svg')
    .c.header-text
      .header-text-inner
        |Успешно строим и продаем с 2009#[br]
        |года недвижимость класса люкс
    .c.header-menu
      nav: ul
        li: a(href='#') О компании
        li: a(href='#') Новости
        li: a(href='#') Контакты
    .c.header-contacts
      .header-phone 8 812 335-00-00
      .header-work 7 дней в неделю 24 часа
      button.header-callback оставить заявку на подбор