.wrapper
  margin-top: 4em
  background: #F6F5F5
  padding: 5em 0

.title
  ffA()
  color: $gold
  font-size: 3em
  margin-bottom: 1em

.item
  text-decoration: none

.name
  font-size: 1.2em
  margin-top: 1.5em