.related-wrapper
  .w
    .c.c12
      .related-title Другие объекты
    for i in [1,2,3,4]
      .c.c3
        a.related-item(href='#')
          img.related-image(src='https://source.unsplash.com/random/262x178?' + i width=262 height=178)
          .related-name Трехкомнатная квартира в ЖК «Ла-ла-лэнд»