.wrapper
  margin: 3em 0 7em
  color: $black

.title
  ffA()
  color: $gold
  font-size: 3em
  margin-bottom: .5em

.item
  margin-bottom: 1em

  &:after
    content: ''
    display: block
    max-width: 262px
    height: 1px
    margin-top: 1em
    background: $gold

.item:last-child .image
  border-bottom: 0
  padding-bottom: 0
  margin-bottom: 0

.image
  img
    display: block

.date
  font-size: .8em
  color: $gold
  margin-bottom: 1em

.name
  font-weight: 400
  margin-bottom: .8em

.desc
  line-height: 1.8

.more
  display: inline-block
  color: $gold
  font-size: .9em
  margin-top: .5em

.best
  &-title
    ffA()
    font-size: 1.5em
    padding-bottom: .5em
    margin-bottom: .5em
    border-bottom: 1px solid $gold

  &-item
    display: block
    text-decoration: none
    margin-bottom: 1em
    border-bottom: 1px solid $gold

    img
      display: block

  &-name
    margin: 1em 0